please help me whats the problem -> @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    background-color: #080b14;
    color: white;
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 0 2rem;
    padding-top: 10%;
}

.container>div:nth-child(1),
.container>div:nth-child(3) {
    width: 25%;
    height: 100%;
}

.container>div:nth-child(2) {
    width: 50%;
    height: 100%;
}

.container .right {
   position: relative;
}

.content-idx {
    width: 100%;
    height: 30%;
    padding: 1.75rem;
    background-color: #111729;
    border-radius: 2rem;
    position: sticky;
    top: 0;
    left: 0;
}

.content-idx p {
    font-size: 0.85rem;
    font-weight: 600;
    color: #f0f0f0;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.idx-list {
    list-style: none;
    margin-top: 16px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 4px;
    position: relative;
}

.idx-list li {
    position: relative;
    padding-left: 39px;
    padding-bottom: 2px;
    margin-bottom: 8px;
    margin-left: -3px;
    color: #f0f0f0;
    white-space: nowrap;
    line-height: 1.375rem;
}

.idx-list li a {
    font-size: 0.85rem;
    text-decoration: none;
    color: #f0f0f0;
    opacity: 0.6;
}

.idx-list li a.focus {
    opacity: 1;
    font-weight: 600;
}

/* Single vertical line behind all items */
.idx-list::before {
    content: '';
    position: absolute;
    top: 5%;
    bottom: 0;
    left: 0px;
    width: 1px;
    height: calc(100% - 8px);
    background-color: #ccc;
    z-index: 0;
}

/* Rectangular badge centered over the vertical line */
.idx-list li::before {
    content: '';
    position: absolute;
    top: 15%;
    left: 0;
    width: 7px;
    height: 18px;
    background-color: #007bff;
    border-radius: 10px;
    z-index: 1;
    /* appears on top of the line */
}


/* Main Content */

.main-content {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    height: max-content;
}

h1 {
    font-size: 2rem;
    color: #f0f0f0;
    margin-bottom: 0.5rem;
    width: 100%;
    height: max-content;
    word-spacing: 0.2rem;
}

.main-content .img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
    background-color: #111729;
    margin-bottom: 2rem;
}

.main-content .img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.main-content .day-content {
    width: 100%;
    height: max-content;
    padding: 1.5rem;
    background-color: #111729;
    border-radius: 10px;
}