@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "oddval-SemiBold";
  src: url(/assets/Fonts/Oddval-SemiBold.ttf);
}

@font-face {
  font-family: "KalamaykaVF";
  src: url(/assets/Fonts/KalamaykaVF.ttf);
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #F9FAFB;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

body {
  padding-bottom: 2rem;
}


h1 {
  font-size: 3rem;
  color: #1F2937;
  font-family: "oddval-SemiBold", sans-serif;
  margin-left: 11%;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

main {
  width: 100%;
  display: flex;
  flex: 1;
  padding: 1rem 2rem;
  overflow: auto;
  gap: 2%;
}

main::-webkit-scrollbar {
  width: 12px;
}

main::-webkit-scrollbar-track {
  background: #e7e8e9;
  border-radius: 10px;
}

main::-webkit-scrollbar-thumb {
  background-color: #a0a1a1;
  border-radius: 10px;
}


.leader-board {
  width: 23%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 10px 25px -5px rgba(79, 70, 229, 0.2);
  border-radius: 20px;
  padding: 1rem;
}

.container {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.cards {
  position: relative;
  width: 20rem;
  height: 26rem;
  background-color: #fff;
  box-shadow: 0 10px 25px -5px rgba(79, 70, 229, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 1rem;
  gap: 0.7rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards:hover {
  box-shadow: 0 10px 25px -5px rgba(209, 213, 219, 0.4);
  transform: translateY(-8px) scale(1.02);
}

.card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  opacity: 0.3;
}

.cards .img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.cards .img img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100%;
}

.cards h2 {
  font-size: 1.4rem;
  font-family: "KalamaykaVF", sans-serif;
  margin-top: 0.7rem;
  color: #1F2937;
}

.cards .content {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.cards .content p {
  font-family: "Poppins", sans-serif;
  height: max-content;
  font-size: 1rem;
  color: #6B7280;
  opacity: 0.7;
}

.cards button {
  width: 40%;
  background-color: #4F46E5;
  color: white;
  border: none;
  border-radius: 5px;
  line-height: 2.7rem;
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
  cursor: pointer;
  margin-right: auto;

}

button:hover {
  background-color: #4338CA;
}

.check {
  display: none;
}

.cards button:hover .check {
  display: block;
}

.cards button:hover .day {
  display: none;
}

.lock {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 3rem;
  border-radius: 10px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.147);
  opacity: 1;
}